body {
    margin: 0;
    padding: 0;
    /* font-family: Helvetica, Arila, "LiHei Pro", "Microsoft JhengHei", "新細明體", serif; */
    color: #555555;
}

h2 {
    margin: 0;
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

a {
    font-size: 16px;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
input,
select {
    padding: 10px;
}

input,
select {
    border: 1px solid #adb5bd;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
}

button:focus,
input:focus,
select:focus {
    outline: none;
}

.flex {
    display: flex;
}

.customWidth {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}


/*header--------------------------------------------------------------*/

.header {
    border-bottom: 1px solid #adb5bd;
}

.header .customWidth {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    text-align: center;
    width: 120px;
}

.header .logo h2 {
    font-size: 28px;
}

.header ul {
    list-style: none;
    display: flex;
}

.header ul a {
    text-decoration: none;
    padding: 10px;
}

.pageContent {
    padding: 40px;
}

.pageContent form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.backtest {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.backtest>div {
    width: 18%;
}

.backtest label {
    margin-bottom: 5px;
    display: block;
}

.backtest .stock .flex {
    justify-content: space-between;
}

.backtest .stock .flex select {
    width: 26%;
}

.backtest .stock .flex select+select {
    width: 70%;
}

.backtest .time {
    width: 40%;
    position: relative;
}

.backtest .time .input-group-addon {
    padding: 10px;
}

.backtest .time .input-daterange input {
    text-align: left;
    border-radius: 0;
}

.backtest .time .input-daterange>div {
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.sale {
    width: 100%;
    margin-bottom: 20px;
}

.sale button {
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    /* color: #555; */
    color: #adb5bd;
    cursor: pointer;
    /* background: linear-gradient(#fdfdfd, #f3f3f3); */
    background: #fff;
    border: 1px solid rgb(173 181 189);
    color: #555;
    background: rgba(131, 136, 149, .2);
    border: none;
    margin-left: 10px;
}

.technical button {
    padding: 0 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #555;
    background: #fff;
    border: none;
}

.technical button:hover {
    color: #555;
}

.technical>div {
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #adb5bd;
    position: relative;
}

.technical>div:last-child {
    border-bottom: none;
}

.technical>div>div {
    position: relative;
}


/* .technical>div>div+div {
    margin-left: 10px;
} */

.technical select,
.technical input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    color: #555555;
    padding: 0 2px;
    font-size: 16px;
    text-align: center;
    max-width: 50px;
}

.technical select {
    max-width: inherit;
}

.technical span {
    padding: 0 2px;
}

.technical>div>.ch {
    flex: 0 0 20px;
    margin-right: 15px;
}

.technical>div>.ch input {
    width: auto;
}

.error {
    position: absolute;
    padding: 2px 5px;
    background: red;
    color: #fff;
    font-size: 12px;
    width: 38px;
    text-align: center;
}

.technical .column_day,
.technical .rsi_v,
.technical .rsi_day,
.technical .kd_v,
.technical .kd_day,
.technical .many_day {
    display: flex;
}


/* .technical .column_day span,
.technical .rsi_v span,
.technical .rsi_day span,
.technical .kd_v span,
.technical .kd_day span,
.technical .many_day span {
    line-height: 29px;
} */

.technical .kd .kd_many_day_span,
.technical .ma .ma_many_day_span,
.technical .price .price_many_day_span {
    /* .technical .rsi .rsi_many_day_span { */
    flex: 0 0 15px;
}

.technical .ma select {
    min-width: 60px;
}

.technical .ma .ma_day_span {
    flex: 0 0 65px;
}

.technical .ma .ma_day_span2 {
    flex: 0 0 65px;
    margin-left: 0;
}

.technical .ma .ma_up {
    margin-left: 0;
}

.technical .price .price_day_span {
    flex: 0 0 65px;
}

.technical .price .price_many_span {
    flex: 0 0 35px;
}

.technical .price .price_number_span {
    flex: 0 0 30px;
}

.technical .de {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 15px;
}

.technical .de button {
    font-size: 28px;
}

.technology {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    border: 1px solid #adb5bd;
}

.technology .box {
    background: #fff;
    padding: 60px;
}

.technology .technical {
    overflow: auto;
    width: 1000px;
    max-height: 70vh;
    position: relative;
    /* padding-right: 20px;
    padding-bottom: 10px; */
    padding: 0 20px 10px 20px;
    border: 1px solid #adb5bd;
}

.technology .link {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
    border: none;
}

.technology .link button {
    width: 49%;
    border: none;
    color: #fff;
    background-color: #42495f;
    padding: 15px 0;
    border-radius: 0;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px;
    border: 1px solid #fff;
}

.technology .link button.close {
    background-color: #fff;
    border: 1px solid #42495f;
    color: #42495f;
}

.technology .link button.close:hover {
    background-color: #42495f;
    color: #fff;
    border: 1px solid #fff;
}

.starBacktestDiv {
    width: 100%;
    margin: 20px 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starBacktestDiv button {
    width: 100%;
    border: none;
    color: #fff;
    background-color: #42495f;
    padding: 15px 0;
    border-radius: 0;
    cursor: pointer;
}

.report {
    width: 100%;
}

.report lable {
    display: block;
    margin-bottom: 20px;
}

.report .lineGraph {
    margin-bottom: 20px;
}

.report .reportForm ul {
    display: flex;
    justify-content: space-between;
    border: 1px solid #adb5bd;
}

.report .reportForm ul+ul {
    border-top: none
}

.report .reportForm ul li {
    padding: 15px;
    width: 14.28%;
}

.report .reportForm ul li+li {
    border-left: 1px solid #adb5bd;
}


/* #container {
  height: 600px;
} */

#container .highcharts-grid.highcharts-yaxis-grid.y_line_color {
    outline: 1px solid #ddd;
}


/* #container .highcharts-grid.highcharts-yaxis-grid.y_line_color path {
  stroke: rgba(0, 0, 0, 0);
} */

#container .highcharts-axis.highcharts-xaxis {
    opacity: 0;
}


/* #container .highcharts-tooltip {
  opacity: 1!important;
  visibility: inherit!important;
} */

#container .highcharts-label.highcharts-tooltip-header.highcharts-tooltip-box.highcharts-color-none .highcharts-label-box {
    fill: #596070;
    padding: 10px;
}

#container .formatData {
    color: #fff;
    padding: 5px;
}


/* ranking */

#ranking {
    margin: 60px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#ranking h2 {
    width: 100%;
    font-size: 36px;
    text-align: center;
}

#ranking .table {
    /* border: 1px solid #adb5bd; */
    width: 1300px;
    margin: 40px 20px;
}

#ranking .table li {
    font-size: 14px;
}

#ranking .table>ul {
    display: flex;
    justify-content: space-between;
}

#ranking .table>ul>li {
    width: 7%;
    padding: 20px;
    border-bottom: 1px solid #adb5bd;
    word-break: break-all;
}

#ranking .table>ul>li button {
    padding: 4px 12px;
}

#ranking .table>ul>li button:last-child {
    margin-top: 5px;
}

#ranking .table>ul:last-child>li {
    border-bottom: none;
}

#ranking .table>ul>li:nth-child(5) {
    width: 8%;
}

#ranking .table>ul>li:nth-child(6),
#ranking .table>ul>li:nth-child(7) {
    width: 25%;
}

/*increase*/
.increase