{% extends "template.html" %} {% block content %}
<div class="pageContent customWidth increase">
    <form action="" method="">
        <div class="item_stock">
            <div class="title">
                <p>比較的股票</p>
                <button class='add'>自訂</button>
                <button class='all'>預設</button>
            </div>
            <ul></ul>
        </div>
        <div class="item_day">
            <div class="title">
                <p>比較的天數</p>
                <button class='add'>自訂</button>
                <button class='all'>預設</button>
            </div>
            <ul></ul>
        </div>
        <div class="starBacktestDiv">
            <button type="button" class="starBacktestButton">開始回測</button>
        </div>
    </form>
    <div class="technology">
        <div class="box">
            <div class="technical">
                <div class="stock">
                    <span>請輸入股號</span>
                    <input type="text" name='stock'>
                </div>
                <div class="day">
                    <span>請輸入天數</span>
                    <input type="text" name='day'>
                </div>
            </div>
            <div class="link">
                <button class='enter'>確定</button>
                <button class='close'>取消</button>
            </div>
        </div>
    </div>
</div>
<script>
    function HighchartsFn(o) {
        var data = o.data
        var close = data.close || '' //股價
        var flags = data.flags || '' //點
        var linegraph = data.linegraph || ''
        var series = []
        var yAxis = []
        var option = {
            chart: {
                renderTo: "container",
            },
            colors: ['#4286f5', '#e65596', '#83bf0a', '#834beb', '#fc7742'],
            navigator: {
                margin: 10,
                xAxis: {
                    ordinal: false,
                    labels: {
                        formatter: function() {
                            var y = (Highcharts.dateFormat('%Y', this.value))
                            var m = (Highcharts.dateFormat('%m', this.value))
                            return y + '/' + m;
                        }
                    }
                }
            },
            scrollbar: {
                enabled: false
            },
            rangeSelector: {
                enabled: false,
            },
            tooltip: {
                animation: false,
                hideDelay: 0,
                borderWidth: 0,
                shadow: false,
                useHTML: true,
                headerFormat: '<span class="formatData">{point.key}</span>',
                xDateFormat: '%Y/%m/%d',
                padding: 0,
                positioner: function(width, height, point) {
                    var chart = this.chart,
                        position;
                    if (point.isHeader) {
                        //date
                        // console.log(point.plotY)
                        position = {
                            x: Math.max(
                                // Left side limit
                                chart.plotLeft,
                                Math.min(
                                    point.plotX + chart.plotLeft - width / 2,
                                    // Right side limit
                                    chart.chartWidth - width - chart.marginRight
                                )
                            ),
                            y: point.plotY,
                        };
                    } else {
                        //第二欄為距離
                        //kd+20
                        var yValue = 0
                        var str = point.series.name
                            // console.log(str.search('k'), str.search('d'))
                        if (str.search('k') != -1 || str.search('d') != -1) {
                            yValue = 20
                        }
                        if (str.search('量') != -1) {
                            yValue = 25
                        }
                        // console.log(point.series.name, point.series.yAxis.top, chart.plotTop, yValue)
                        //title
                        position = {
                            x: point.series.chart.plotLeft + 5,
                            y: point.series.yAxis.top - chart.plotTop + yValue + 5,
                        };
                    }

                    return position;
                },
            },
            xAxis: {
                // minTickInterval: 1 * 24 * 3600 * 1000,
                // minRange: 20 * 24 * 3600 * 1000,
                type: 'datetime',
                labels: {
                    formatter: function() {
                        var y = (Highcharts.dateFormat('%Y', this.value))
                        var m = (Highcharts.dateFormat('%m', this.value))
                        var e = (Highcharts.dateFormat('%e', this.value))
                        if (e < 10) {
                            e = '0' + e.replace(/\s*/g, "")
                        }
                        return m + '/' + e;
                    }
                },
                tickLength: 0,
                gridLineWidth: 1,
                gridLineDashStyle: 'longdash',
                crosshair: {
                    dashStyle: 'Dash',
                    color: '#adb5bd',
                },
                //範圍
                // ordinal: false,
                range: 6 * 30 * 24 * 3600 * 1000,
                minRange: 20 * 24 * 3600 * 1000,
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                series: {
                    lineWidth: 1,
                    states: {
                        hover: {
                            enabled: false,
                        },
                        inactive: {
                            opacity: 1
                        }
                    },
                    dataGrouping: {
                        dateTimeLabelFormats: {
                            millisecond: ['%Y/%m/%d'],
                            second: ['%Y/%m/%d'],
                            minute: ['%Y/%m/%d'],
                            hour: ['%Y/%m/%d'],
                            day: ['%Y/%m/%d'],
                            week: ['%Y/%m/%d'],
                            month: ['%Y/%m/%d'],
                            year: ['%Y/%m/%d']
                        }
                    }
                }
            },
        };
        var yAxisObj = function(o) {
            // yAxis
            var obj = {
                // floor: 0,//不要有負數
                // ceiling: 100,
                offset: 0,
                //外框線
                className: 'y_line_color',
                //顯示上面刻度
                showLastLabel: true,
                //背景線
                gridLineWidth: 1,
                gridLineDashStyle: 'longdash',
                //橫條提示線
                crosshair: {
                    snap: false,
                    dashStyle: 'Dash',
                    color: '#adb5bd',
                    label: {
                        enabled: true,
                        format: '{value:.2f}',
                        backgroundColor: '#596070'
                    }
                },
                labels: {
                    align: 'left',
                    y: 6,
                    x: 6,
                    // style: {
                    //     color: "#000000",
                    //     font: '20px Arial, sans-serif'
                    // }
                },
            };
            //修改參數
            if (o.height) {
                obj['height'] = o.height
            }
            if (o.top) {
                obj['top'] = o.top
            }
            if (o.offset) {
                obj['offset'] = o.offset
            }
            if (o.ceiling) {
                obj['ceiling'] = o.ceiling
            }
            yAxis.push(obj)
        }
        var yAxisHight = function(o) {
            var length = yAxis.length
            var container = document.querySelector('#container');
            //yAxis第2個
            if (length == 1) {
                //修改yAxis第一個
                // yAxis[0]['height'] = '70%'
                yAxis[0]['height'] = '75%'
                yAxisObj({
                    // 'top': "75%",
                    // 'height': "25%",
                    'top': "80%",
                    'height': "20%",
                })
            }
            //yAxis第3個
            if (length == 2) {
                yAxis[0]['height'] = '60%'
                yAxis[1]['top'] = '65%'
                yAxis[1]['height'] = '15%'
                yAxisObj({
                    'top': "85%",
                    'height': "15%",
                })
                container.style.height = 500 + 'px'
            }
            if (length == 3) {
                yAxis[0]['height'] = '55%'
                yAxis[1]['top'] = '60%'
                yAxis[1]['height'] = '10%'
                yAxis[2]['top'] = '75%'
                yAxis[2]['height'] = '10%'
                yAxisObj({
                    'top': "90%",
                    'height': "10%",
                })
                container.style.height = 600 + 'px'
            }
            if (length == 4) {
                yAxis[0]['height'] = '40%'
                yAxis[1]['top'] = '45%'
                yAxis[1]['height'] = '10%'
                yAxis[2]['top'] = '60%'
                yAxis[2]['height'] = '10%'
                yAxis[3]['top'] = '75%'
                yAxis[3]['height'] = '10%'
                yAxisObj({
                    'top': "90%",
                    'height': "10%",
                })
                container.style.height = 700 + 'px'
            }
            return length
        }
        var method_ma = function(elemnt) {
            series.push({
                name: elemnt.name + '日均線',
                type: 'spline',
                data: elemnt.data,
                //線顏色
                // color: color,
                // negativeColor: color,
                yAxis: 0,
            })
        }
        var method_bband = function(elemnt) {
            series.push({
                name: elemnt.value + '倍頂線',
                type: 'spline',
                data: elemnt.data.u,
                yAxis: 0,
            })
            series.push({
                name: elemnt.name + '日中線',
                type: 'spline',
                data: elemnt.data.m,
                yAxis: 0,
            })
            series.push({
                name: elemnt.value + '倍底線',
                type: 'spline',
                data: elemnt.data.d,
                yAxis: 0,
            })
        }
        var method_dc = function(elemnt) {
            series.push({
                name: elemnt.hday + '日上阻線',
                type: 'spline',
                data: elemnt.data.h,
                yAxis: 0,
            })
            series.push({
                name: '中線',
                type: 'spline',
                data: elemnt.data.m,
                yAxis: 0,
            })
            series.push({
                name: elemnt.lday + '日下降線',
                type: 'spline',
                data: elemnt.data.l,
                yAxis: 0,
            })
        }
        var method_kd = function(elemnt) {
            //add Hight
            var length = yAxisHight()
                //add 間距
            yAxis[length]['tickInterval'] = 10
            series.push({
                name: elemnt.name + 'k',
                type: 'spline',
                data: elemnt.data.k,
                color: '#4286f5',
                negativeColor: '#4286f5',
                yAxis: length,
            })
            series.push({
                name: elemnt.name + 'd',
                type: 'spline',
                data: elemnt.data.d,
                color: '#e65596',
                negativeColor: '#e65596',
                yAxis: length,
            })
        }
        var method_rsi = function(elemnt) {
            var length = yAxisHight()
            series.push({
                name: elemnt.name + 'rsi',
                type: 'spline',
                data: elemnt.data,
                color: '#4286f5',
                negativeColor: '#4286f5',
                yAxis: length,
            })
        }
        var method_macd = function(elemnt) {
            //add Hight
            var length = yAxisHight();
            //add 間距
            yAxis[length]['tickInterval'] = 0.1
            series.push({
                name: '快線',
                type: 'spline',
                data: elemnt.data.ml,
                yAxis: length,
            });
            series.push({
                name: '慢線',
                type: 'spline',
                data: elemnt.data.sl,
                yAxis: length,
            });
            //柱體
            console.log(elemnt.data.hist)
            var cylinder = []
            for (i = 0; i < elemnt.data.hist.length; i++) {
                cylinder.push({
                    x: elemnt.data.hist[i][0],
                    y: elemnt.data.hist[i][1],
                    color: elemnt.data.hist[i][1] < 0 ? 'green' : 'red'
                })
            }
            series.push({
                name: '柱體',
                type: 'column',
                data: cylinder,
                yAxis: length,
                turboThreshold: 0, //绘制超过1000个点的时候会错误
            })
        }
        var method_column = function(elemnt) {
            var length = yAxisHight()
            var volume = []
            var volumeColor = []
            for (i = 0; i < close.length; i += 1) {
                volume.push({
                    x: elemnt.column[i][0],
                    y: elemnt.column[i][1],
                    color: close[i][1] > close[i][4] ? 'green' : 'red'
                });
            }
            series.push({
                name: '成交量',
                type: 'column',
                data: volume,
                //高度
                yAxis: length,
                turboThreshold: 0, //绘制超过1000个点的时候会错误
            })

            for (i = 0; i < elemnt.data.length; i += 1) {
                series.push({
                    name: elemnt.data[i].name + '日量',
                    type: 'spline',
                    data: elemnt.data[i].day,
                    yAxis: length,
                })
            }
        }
        var condition = function(elemnt) {
            if (elemnt.method == 'ma') {
                method_ma(elemnt)
            }
            if (elemnt.method == 'bband') {
                method_bband(elemnt)
            }
            if (elemnt.method == 'dc') {
                method_dc(elemnt)
            }
            if (elemnt.method == 'kd') {
                method_kd(elemnt)
            }
            if (elemnt.method == 'rsi') {
                method_rsi(elemnt)
            }
            if (elemnt.method == 'column') {
                method_column(elemnt)
            }
            if (elemnt.method == 'macd') {
                method_macd(elemnt)
            }
        }

        // k棒
        if (close) {
            series.push({
                type: 'candlestick',
                id: 'close',
                name: '股價',
                data: close,
                color: 'green',
                lineColor: 'green',
                upColor: 'red',
                upLineColor: 'red',
                navigatorOptions: {
                    color: '#fff'
                },
                tooltip: {
                    pointFormat: '<span style="color:{point.color}">● </span>' +
                        '開:{point.open:.2f} ' +
                        '高:{point.high:.2f} ' +
                        '低:{point.low:.2f} ' +
                        '收:{point.close:.2f}'
                }
            })
            yAxisObj({
                'height': "100%"
            })
        }

        // 條件
        linegraph.forEach(elemnt => condition(elemnt))

        // 買點
        if (flags) {
            series.push({
                type: 'flags',
                name: '買點',
                data: flags.buy,
                onSeries: 'close',
                shape: 'squarepin',
                color: 'red',
                fillColor: 'red',
                style: {
                    color: '#fff',
                },
                negativeColor: 'red',
                onKey: 'high',
            })
            series.push({
                type: 'flags',
                name: '賣點',
                data: flags.sell,
                onSeries: 'close',
                shape: 'squarepin',
                color: 'green',
                fillColor: 'green',
                style: {
                    color: '#fff',
                },
                negativeColor: 'green',
                onKey: 'high',
            })
        }

        option['series'] = series
        option['yAxis'] = yAxis

        // Highcharts.StockChart('container', option);
        new Highcharts.StockChart(option);
    }

    function createInput(o) {
        var inputElement = o.input
        var div = document.createElement('div');
        var input = document.createElement(inputElement);
        if (inputElement == 'input') {
            for (var parent in o.inputs) {
                input.setAttribute(parent, o.inputs[parent])
            }
        }
        if (inputElement == 'span') {
            input.innerHTML = o.text
        }

        div.classList.add(o.className);
        div.append(input);
        return div
    }

    function removeElement(parent, select) {
        var objs = parent.querySelectorAll(select)
        if (objs.length) {
            objs.forEach(error => {
                error.textContent = ''
                error.remove()
            })
        }
    }

    function inputCheck(input) {
        var parentInput = input.parentElement
        var errorObj = document.createElement('div')
        errorObj.classList.add('error')
        if (input.value == '') {
            errorObj.innerHTML = '未填寫'
        } else {
            errorObj.innerHTML = '錯誤'
        }
        parentInput.append(errorObj)
    }
    //form many
    function many_select() {
        document.querySelectorAll('.many_select select').forEach(obj => {
            obj.addEventListener('change', () => {
                var parent = obj.parentElement
                var parentT = parent.parentElement
                var objValue = obj.value
                var classNameDay = 'many_day'
                removeElement(parentT, '.' + classNameDay)
                if (objValue == 'y') {
                    var input = document.createElement('input');
                    input.setAttribute('type', 'number')
                    input.setAttribute('name', 'many_day')
                    input.setAttribute('min', '1')
                    input.setAttribute('value', '1')
                    var span = document.createElement('span');
                    span.innerText = '日';
                    var div = document.createElement('div');
                    div.classList.add(classNameDay);
                    div.append(input, span);
                    parent.after(div);
                }
            })
        })
    }

    //form kd
    function kd_select() {
        document.querySelectorAll('.kd_up_select').forEach(obj => {
            obj.addEventListener('change', () => {
                var parent = obj.parentElement
                var parentT = parent.parentElement
                var objValue = obj.value
                var className = 'kd_v'
                var input = '';
                removeElement(parentT, '.' + className)
                if (objValue == 'up' || objValue == 'low') {
                    input = document.createElement('input');
                    input.setAttribute('type', 'number')
                    input.setAttribute('name', 'v')
                    input.setAttribute('min', '1')
                    input.setAttribute('value', '20')
                        // var span = document.createElement('span');
                        // span.innerText = '且';
                    var div = document.createElement('div');
                    div.classList.add(className);
                    // div.append(input, span);
                    div.append(input);
                    parent.after(div);
                }

            })
        })
    }

    //savebutton
    function saveButtonFn(fromData) {
        ajax({
            u: 'index_save',
            a: fromData
        }).then(function(data) {
            if (data.result == 'true') {
                alert('已存到資料庫')
                document.querySelector('.reportForm .starBacktestDiv').remove()
            }
        })

    }

    //showTable
    function showTable(o) {
        var data = o.data;
        var formData = o.formData;
        var saveButton = o.saveButton;
        //img
        HighchartsFn({
            'data': data.imgPoints
        });
        //table
        var tablePoints = data.table
        var reportForm = document.querySelector('.reportForm')
        var datetop = `<ul>
            <li>股票代號</li>
            <li>交易日期</li>
            <li>累積張數</li>
            <li>價格</li>
            <li>庫存成本</li>
            <li>庫存損益</li>
            <li>庫存報酬</li>
            <li>賣出損益</li>
            <li>賣出報酬</li>
        </ul>`
        reportForm.innerHTML = ''
        reportForm.innerHTML = datetop
        tablePoints.forEach(tablePoint => {
            var ul = document.createElement('ul')
            ul.classList.add('bulldate')
            tablePoint.forEach(element => {
                var li = document.createElement('li')
                li.innerHTML = element
                ul.append(li)
            })
            reportForm.append(ul)

        });
        //save button
        if (saveButton) {
            var saveButtonDiv = document.createElement('div')
            saveButtonDiv.classList.add('starBacktestDiv')
            var saveButton = document.createElement('button')
            saveButton.classList.add('saveButton')
            saveButton.innerText = '儲存進出條件'
            saveButton.addEventListener('click', function() {
                // console.log(formData)
                formData['total'] = tablePoints.pop().pop().split(':')[1].replace(/\s*/g, '');
                saveButtonFn(formData)
            }, false)
            saveButtonDiv.append(saveButton)
            reportForm.append(saveButtonDiv)
        }
    }

    function conditionHtml(o) {
        var parent = o.parent
        var parentHtml = parent.cloneNode(true)
        parentHtml.querySelector('.ch').remove();

        //have data
        var data = o.data ? o.data : ''
        if (data) {
            parentHtml.querySelectorAll('input').forEach((o) => {
                if (o.name == 'many_day' && data[o.name] == undefined) {
                    o.value = 1

                } else {
                    o.value = data[o.name]
                }

                // console.log(o.name, data[o.name], data)
            })
            parentHtml.querySelectorAll('select').forEach((o) => {
                //
                o.value = data[o.name];

                //kd kd_up=>up_d low_d
                if (data[o.name] == 'up_d' || data[o.name] == 'low_d') {
                    parentHtml.querySelector('.kd_v').remove()
                }

                //many
                if (o.name == 'many' && data[o.name] == 'y') {
                    var many_day = document.createElement('div')
                    many_day.classList.add('many_day')
                    var span = document.createElement('span')
                    span.innerText = '日'
                    var input = document.createElement('input')
                    input.setAttribute('type', 'number')
                    input.setAttribute('name', 'many_day')
                    input.setAttribute('min', '1')
                    input.setAttribute('value', data['many_day'])
                    many_day.append(input, span)
                    parentHtml.querySelector('.many_select').after(many_day)
                }

                //need undefined
                if (o.name == 'need' && data[o.name] == undefined || o.name == 'need' && data[o.name] == 'y') {
                    o.value = '1'
                }
            })
        } else {
            //select  select會掉index
            parent.querySelectorAll('select').forEach((o) => {
                parentHtml.querySelectorAll('select').forEach((i) => {
                    if (o.className == i.className) {
                        i[o.selectedIndex].selected = true;
                    }
                })
            });
        }

        //deDiv
        var deDiv = document.createElement('div');
        deDiv.classList.add('de');
        //button
        var button = document.createElement('button')
        button.innerHTML = "&times;"
        button.addEventListener('click', () => {
            parentHtml.remove()
        });
        deDiv.append(button)
        parentHtml.append(deDiv)
        return parentHtml
    }

    //showCondition
    function showCondition(o) {
        var data = o.data
        var formBuys = data.formBuy
        var formSells = data.formSell
        var chs = document.querySelectorAll('.technology>.technical>div')
        chs.forEach(ch => {
            if (formBuys != undefined) {
                formBuys.forEach(formBuy => {
                    // console.log(ch.className == formBuy.ch)
                    if (ch.className == formBuy.ch) {
                        var buyHtml = conditionHtml({
                            'parent': ch,
                            'data': formBuy
                        })
                        document.querySelector('.sale.buy .technical').append(buyHtml)
                    }
                });
            }
            if (formSells != undefined) {
                formSells.forEach(formBuy => {
                    if (ch.className == formBuy.ch) {
                        var sellHtml = conditionHtml({
                            'parent': ch,
                            'data': formBuy
                        })
                        document.querySelector('.sale.sell .technical').append(sellHtml)
                    }
                });
            }
        });
        //form eventlistener
        many_select()
        kd_select()
    }

    //送出
    document.querySelector('.starBacktestButton').addEventListener('click', () => {
        var fromObj = {}
        var error = false

        //股號 買入方式 回測時間
        var selects = document.querySelectorAll('.backtest select,.backtest input')
        selects.forEach(select => {
            if (select.value) {
                fromObj[select.name] = select.value
            } else {
                inputCheck(select)
                error = true
            }
            select.addEventListener('focus', () => {
                removeElement(document, '.error')
            })
        })

        //condition
        var saleDivs = document.querySelectorAll('.sale .technical>div')
        var saleTexts = [];
        // console.log(saleDivs)
        saleDivs.forEach(saleDiv => {
            var saleName = saleDiv.parentElement.parentElement.className.split(' ')[1]
            var inputs = saleDiv.querySelectorAll('input,select')
            var condition = {}
            condition['ch'] = saleDiv.className.split(' ')[0];
            // 進場出場
            if (saleTexts.indexOf(saleName) == '-1') {
                fromObj[saleName] = []
                saleTexts.push(saleName)

            }
            inputs.forEach(input => {
                if (input.type == 'checkbox' || input.type == 'select-one' || input.type == 'number' && input.value > 0) {
                    condition[input.name] = input.value
                } else if (input.type != 'checkbox') {
                    inputCheck(input)
                    error = true
                }

                input.addEventListener('focus', () => {
                    removeElement(document, '.error')
                })
            })
            fromObj[saleName].push(condition)
        })

        if (!error && saleTexts.length == 0) {
            alert('錯誤!!進出場條件都需要設定')
        }
        if (!error) {
            ajax({
                u: 'index_send',
                a: fromObj
            }).then(function(data) {
                if (data.result == 'true') {
                    // console.log(data)
                    showTable({
                        'data': data,
                        'formData': fromObj,
                        'saveButton': true
                    })

                    // var setDate = new Date();
                    // setDate.setDate(setDate.getDate() - 1);
                    // setDate = setDate.toISOString().slice(0, 10) + ' 8:0:0';
                    // setDate = '2020-5-20 8:0:0'
                    // var todayTime = new Date(setDate).toLocaleString()
                    // var buyDatas = data.imgPoints.flags.buy.pop()
                    // var sellDatas = data.imgPoints.flags.sell.pop()
                    // var buyTime = new Date(buyDatas.x).toLocaleString()
                    // var sellTime = new Date(sellDatas.x).toLocaleString()
                    // var text = '今天沒有點'
                    // if (todayTime == buyTime) {
                    //     text = '建議可' + buyDatas.title
                    // }
                    // if (todayTime == sellTime) {
                    //     text = '建議可' + sellDatas.title
                    // }
                    // console.log(text, 'day:' + setDate, 'sell:' + sellTime, 'buy:' + buyTime)
                } else {
                    //找不到資料
                    alert(data.errorInfo)
                    document.querySelector('#container').innerHTML = ''
                    document.querySelector('.reportForm').innerHTML = ''
                }
            })
        }
    });

    //add profit(停利)
    function addProfit(obj) {
        var technology_profit = document.querySelector('.technology .technical .profit')
        if (technology_profit) technology_profit.remove()
        var parent = obj.parentElement.parentElement
        var saleName = parent.classList.contains("sell");
        if (saleName) {
            var profit = document.createElement('div')
            profit.className = 'profit'
            var ch = document.createElement('div')
            ch.className = 'ch'
            var ch_input = document.createElement('input')
            ch_input.setAttribute('type', 'checkbox')
            ch_input.setAttribute('name', 'ch')
            ch_input.setAttribute('value', 'profit')
            ch.append(ch_input)
            var profit_span = document.createElement('div')
            profit_span.className = 'profit_span'
            var profit_span_text = document.createElement('span')
            profit_span_text.innerText = '移動停損'
            profit_span.append(profit_span_text)
            var profit_v = document.createElement('div')
            profit_v.className = 'profit_v'
            var profit_v_input = document.createElement('input')
            profit_v_input.setAttribute('type', 'number')
            profit_v_input.setAttribute('name', 'v')
            profit_v_input.setAttribute('min', '1')
            profit_v_input.setAttribute('value', '1')
            var profit_v_span = document.createElement('span')
            profit_v_span.innerText = '%，'
            profit_v.append(profit_v_input, profit_v_span)
            var need = document.createElement('div')
            need.className = 'need'
            var need_select = document.createElement('select')
            need_select.setAttribute('name', 'need')
            var need_select_option_1 = document.createElement('option')
            need_select_option_1.setAttribute('value', '1')
            need_select_option_1.innerText = '條件最優先'
            var need_select_option_2 = document.createElement('option')
            need_select_option_2.setAttribute('value', '2')
            need_select_option_2.innerText = '條件次優先'
            var need_select_option_3 = document.createElement('option')
            need_select_option_3.setAttribute('value', '3')
            need_select_option_3.innerText = '條件非優先'
            need_select.append(need_select_option_1, need_select_option_2, need_select_option_3)
            need.append(need_select)
            profit.append(ch, profit_span, profit_v, need)
                // profit.append(ch, profit_span, profit_v)
            document.querySelector('.technology .technical .link').before(profit)
        }
    }

    //Condition(條件)
    document.querySelectorAll('.sale button').forEach(obj => {
        obj.addEventListener('click', () => {
            //sell button add 停利
            // var parent = obj.parentElement.parentElement
            addProfit(obj)
                // var technical = document.querySelector('.technology .technical')
                // var profit = technology_technical.querySelector('.profit')
                // if (profit) profit.remove()
                // var parent = obj.parentElement.parentElement
                // var saleName = parent.classList.contains("sell");
                // // console.log(parent)
                // if (saleName) {
                //     addProfit(parent)
                //         // document.querySelector('.technology .technical').querySelector('.link').before(addProfit())
                // }

            //
            var technology = document.querySelector('.technology')
            var enter = technology.querySelector('.enter')
            var close = technology.querySelector('.close')
            var removeEvent = () => {
                many_select()
                kd_select()
                close.removeEventListener('click', closeFn)
                enter.removeEventListener('click', enterFn)
            }
            var closeFn = function() {
                technology.style.display = 'none'
                removeEvent()
            }
            var enterFn = () => {
                var parent = obj.parentElement.parentElement
                var technical = parent.querySelector('.technical')
                var chs = technology.querySelectorAll('.ch input')
                var error = false
                chs.forEach(ch => {
                    if (ch.checked == true) {
                        var parentCh = ch.parentElement.parentElement
                        var inputs = parentCh.querySelectorAll('input,select')
                        inputs.forEach(input => {
                            if (input.type == 'number' && input.value <= 0) {
                                inputCheck(input)
                                error = true
                            }

                            input.addEventListener('focus', () => {
                                removeElement(document, '.error')
                            })
                        })
                        if (!error) {
                            ch.checked = false
                            var html = conditionHtml({
                                    'parent': parentCh,
                                })
                                // console.log(parent)
                            technical.append(html)
                        }
                    }
                })
                if (!error) {
                    closeFn()
                        // removeEvent()
                        // enter.removeEventListener('click', enterFn)
                }
            }

            //form eventlistener
            many_select()
            kd_select()
            technology.style.display = 'flex'
            enter.addEventListener('click', enterFn)
            close.addEventListener('click', closeFn)

        })
    });

    //日期
    $('.input-daterange').datepicker({
        format: 'yyyy/mm/dd',
        language: "zh-TW",
        endDate: '+0d',
        datesDisabled: '+0d',
    });


    //有資料
    if (typeof(datas) == 'object') {
        // console.log(datas)
        //股號 買入方式 回測時間
        var selects = document.querySelectorAll('.backtest select,.backtest input')
        selects.forEach(select => {
                if (datas[select.name]) {
                    select.value = datas[select.name]
                }
                // console.log(select.name, datas[select.name])
            })
            // console.log(datas)
        showCondition({
            'data': datas,
        })
        showTable({
            'data': datas,
            'saveButton': false
        })
    }
</script>
{% endblock %}