<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
</head>

<body>
    <div class="header">
        <div class="customWidth">
            <div class="logo">
                <h2>股票回測</h2>
            </div>
            <!-- <ul class="nav">
                <li><a href="index.html">首頁</a></li>
                <li><a href="index.html">個股回測</a></li>
                <li><a href="index.html">股票比對</a></li>
            </ul> -->
        </div>
    </div>
    <div class="pageContent customWidth">
        <!-- <p>{{ title }}</p> -->
        <form action="" method="">
            <div class="backtest">
                <div class="stock">
                    <label for="stock">輸入股號</label>
                    <input type="text" name="stock" id="stock" value='2330'>
                </div>
                <div class="time">
                    <label for="time">回測時間</label>
                    <div class="time">
                        <select name="time" id="time">
                            <option value="1">1年</option>
                            <option value="3">3年</option>
                            <option value="5">5年</option>
                            <!-- <option value="10">10年</option> -->
                        </select>
                    </div>
                </div>
                <div class="sheet">
                    <label for="sheet">買進張數</label>
                    <div class="sheet">
                        <select name="sheet" id="sheet">
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
                <div class="buyMethod">
                    <label for="buyMethod">買入方式</label>
                    <div class="buyMethod">
                        <select name="buyMethod" id="buyMethod">
                            <option value="1">單買單賣</option>
                            <option value="2">都買全賣</option>
                            <!-- <option value="3">都買都賣</option> -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="sale buy">
                <div class="flex">
                    <label>進場條件設定</label>
                </div>
                <div class="technical">
                    <div class="kd">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="kd">
                        </div>
                        <div class="kd_day">
                            <input type="number" name="day" min="1" value="9">
                            <span>日，k值</span>
                        </div>
                        <!-- <div class="kd_day_span"><span>日，k值</span></div> -->
                        <div class="kd_up">
                            <select name="se" class="kd_up_select">
                                <option value="up">高於</option>
                                <option value="low" selected>低於</option>
                                <option value="up_d">高於D值</option>
                                <option value="low_d">低於D值</option>
                            </select>
                        </div>
                        <div class="kd_v">
                            <input type="number" name="v" min="1" max="100" value="20">
                            <span>且</span>
                        </div>
                        <div class="kd_many">
                            <select name="many" class="many_select">
                                <option value="y">連續</option>
                                <option value="n" selected>不連續</option>
                            </select>
                        </div>
                    </div>
                    <div class="rsi">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="rsi">
                        </div>
                        <div class="rsi_day">
                            <input type="number" name="day" min="1" value="14">
                            <span>日，RSI</span>
                        </div>
                        <div class="rsi_up">
                            <select name="se" class="rsi_up_select">
                                <option value="up">高於</option>
                                <option value="low" selected>低於</option>
                            </select>
                        </div>
                        <div class="rsi_v">
                            <input type="number" name="v" min="1" max="100" value="20">
                            <span>且</span>
                        </div>
                        <div class="rsi_many">
                            <select name="many" class="many_select">
                                <option value="y">連續</option>
                                <option value="n" selected>不連續</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="column">
                        </div>
                        <div class="column_day">
                            <span class="text">成交量</span>
                            <input type="number" name="day" min="1" value="5">
                            <span>日</span>
                        </div>
                        <div class="column_up">
                            <select name="se">
                                <option value="up" selected>漲破</option>
                                <option value="low">跌破</option>
                            </select>
                        </div>
                        <div class="column_day">
                            <input type="number" name="day2" min="1" value="20">
                            <span>日</span>
                        </div>
                        <div class="price_many">
                            <select name="many" class="many_select">
                                <option value="y">連續</option>
                                <option value="n" selected>不連續</option>
                            </select>
                        </div>
                    </div>
                    <div class="ma">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="ma">
                        </div>
                        <div class="ma_day_span">
                            <span>收盤價在</span>
                        </div>
                        <div class="ma_day">
                            <input type="number" name="day" min="1" value="60">
                        </div>
                        <div class="ma_day_span2">
                            <span>日均線，</span>
                        </div>
                        <div class="ma_up">
                            <select name="se">
                                <option value="up" selected>之上</option>
                                <option value="low">之下</option>
                            </select>
                        </div>
                    </div>
                    <div class="price">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="price">
                        </div>
                        <div class="price_up">
                            <select name="se" class="price_up_Select">
                                <option value="up" selected>收盤價漲破</option>
                                <option value="low">收盤價跌破</option>
                                <option value="up_m">收盤價漲破均線</option>
                                <option value="low_m">收盤價跌破均線</option>
                                <!-- <option value="up_l">收盤價漲破前低</option>
                                <option value="low_l">收盤價跌破前低</option>
                                <option value="up_h">收盤價漲破前高</option>
                                <option value="low_h">收盤價跌破前高</option> -->
                            </select>
                        </div>
                        <div class="price_number">
                            <input type="number" name="number" min="1" max="10" value="2">
                        </div>
                        <div class="price_number_span">
                            <span>%，</span>
                        </div>
                        <div class="price_many">
                            <select name="many" class="many_select">
                                <option value="y">連續</option>
                                <option value="n" selected>不連續</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale sell">
                <div class="flex">
                    <label>出場條件設定</label>
                </div>
                <div class="technical">
                    <div class="kd">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="kd">
                        </div>
                        <div class="kd_day">
                            <input type="number" name="day" min="1" value="9">
                            <span>日，k值</span>
                        </div>
                        <div class="kd_up">
                            <select name="se" class="kd_up_select">
                                <option value="up">高於</option>
                                <option value="low">低於</option>
                                <option value="up_d">高於D值</option>
                                <option value="low_d">低於D值</option>
                            </select>
                        </div>
                        <div class="kd_v">
                            <input type="number" name="v" min="1" max="100" value="80">
                            <span>且</span>
                        </div>
                        <div class="kd_many">
                            <select name="many" class="many_select">
                                <option value="y">連續</option>
                                <option value="n" selected>不連續</option>
                            </select>
                        </div>
                    </div>
                    <div class="rsi">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="rsi">
                        </div>
                        <div class="rsi_day">
                            <input type="number" name="day" min="1" value="14">
                            <span>日，RSI</span>
                        </div>
                        <!-- <div class="rsi_day_span"></div> -->
                        <div class="rsi_up">
                            <select name="se" class="rsi_up_select">
                                <option value="up" selected>高於</option>
                                <option value="low">低於</option>
                            </select>
                        </div>
                        <div class="rsi_v">
                            <input type="number" name="v" min="1" max="100" value="80">
                            <span>且</span>
                        </div>
                        <div class="rsi_many">
                            <select name="many" class="many_select">
                                <option value="y">連續</option>
                                <option value="n" selected>不連續</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="column">
                        </div>
                        <div class="column_day">
                            <span class="text">成交量</span>
                            <input type="number" name="day" min="1" value="5">
                            <span>日</span>
                        </div>
                        <div class="column_up">
                            <select name="se">
                                <option value="up">漲破</option>
                                <option value="low" selected>跌破</option>
                            </select>
                        </div>
                        <div class="column_day">
                            <input type="number" name="day2" min="1" value="20">
                            <span>日</span>
                        </div>
                        <div class="price_many">
                            <select name="many" class="many_select">
                                <option value="y">連續</option>
                                <option value="n" selected>不連續</option>
                            </select>
                        </div>
                    </div>
                    <div class="ma">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="ma">
                        </div>
                        <div class="ma_day_span">
                            <span>收盤價在</span>
                        </div>
                        <div class="ma_day">
                            <input type="number" name="day" min="1" value="60">
                        </div>
                        <div class="ma_day_span2">
                            <span>日均線，</span>
                        </div>
                        <div class="ma_up">
                            <select name="se">
                                <option value="up">之上</option>
                                <option value="low" selected>之下</option>
                            </select>
                        </div>
                    </div>
                    <div class="price">
                        <div class="ch">
                            <input type="checkbox" name="ch" value="price">
                        </div>
                        <div class="price_up">
                            <select name="se" class="price_up_Select">
                                <option value="up">收盤價漲破</option>
                                <option value="low" selected>收盤價跌破</option>
                                <option value="up_m">收盤價漲破均線</option>
                                <option value="low_m">收盤價跌破均線</option>
                                <!-- <option value="up_l">收盤價漲破前低</option>
                                <option value="low_l">收盤價跌破前低</option>
                                <option value="up_h">收盤價漲破前高</option>
                                <option value="low_h">收盤價跌破前高</option> -->
                            </select>
                        </div>
                        <div class="price_number">
                            <input type="number" name="number" min="1" max="10" value="2">
                        </div>
                        <div class="price_number_span">
                            <span>%，</span>
                        </div>
                        <div class="price_many">
                            <select name="many" class="many_select">
                                <option value="y">連續</option>
                                <option value="n" selected>不連續</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="starBacktestDiv">
                <button type="button" class="starBacktestButton">開始回測</button>
            </div>
        </form>
        <div class="report">
            <div id="container"></div>
            <div class="reportForm"></div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
</body>

</html>