{% extends "template.html" %} {% block content %}
<script>
    var datas = JSON.parse('{{ jsonvalue|tojson|safe }}');
    if (datas == null) {
        alert('找不到資料')
    } else {
        // console.log(datas)
        var buyMethodFn = function(index) {
            var text = ''
            if (index == '1') {
                text = '單買單賣'
            } else if (index == '2') {
                text = '單買全賣'
            }
            return text
        }
        var kLineFn = function(index) {
            var text = '日K線'
            if (index == 'd') {
                text = '日K線'
            } else if (index == 'w') {
                text = '周K線'
            } else if (index == 'm') {
                text = '月K線'
            }
            return text
        }
        var operatingFn = function(index) {
            var div = document.createElement('div')
            var button = document.createElement('button')
            button.innerText = '回測'
            button.addEventListener('click', function(e) {
                location.assign('/' + index);
            })
            var button2 = document.createElement('button')
            button2.innerText = '刪除'
            button2.addEventListener('click', function() {
                var ul = this.parentElement.parentElement.parentElement
                var passwor = prompt('你確定要刪除嗎,請輸入密碼');
                // console.log(passwor, passwor != '', passwor != null)
                if (passwor != null) {
                    ajax({
                        u: 'ranking_delet',
                        a: {
                            'id': index,
                            'passwor': passwor
                        }
                    }).then(function(data) {
                        // console.log('37', data)
                        if (data.result == 'true') {
                            //remove
                            ul.remove()
                        } else {
                            alert(data.message)
                        }
                    })
                }
            })
            div.append(button, button2)
            return div
        }
        var conditionFn = function(items) {
            var text = []
            var sefn = function(params) {
                return params == 'low' ? '低於' : '高於'
            }
            var prSefn = function(params) {
                return params == 'low' ? '跌破' : '漲破'
            }
            var kdsefn = function(item) {
                var se = item.se
                var text = '低於D值'
                if (se == 'up') {
                    text = '高於' + item.v
                } else if (se == 'low') {
                    text = '低於' + item.v
                } else if (se == 'up_d') {
                    text = '高於D值'
                }
                return text
            }
            var bbLineFn = function(item) {
                var se = item.line
                var text = '底線'
                if (se == 'up') {
                    text = '頂線'
                } else if (se == 'mi') {
                    text = '中線'
                } else if (se == 'low') {
                    text = '底線'
                }
                return text
            }
            var dcLineFn = function(item) {
                var se = item.line
                var text = '上阻線'
                if (se == 'up') {
                    text = '上阻線'
                } else if (se == 'mi') {
                    text = '中線'
                } else if (se == 'low') {
                    text = '下撐線'
                }
                return text
            }
            var maLineFn = function(item) {
                var se = item.line
                var text = '慢線'
                if (se == 'fast') {
                    text = '快線'
                } else if (se == 'slow') {
                    text = '慢線'
                }
                return text
            }
            var dayfn = function(params) {
                return params + '日'
            }
            var manyFn = function(item) {
                return item.many == 'n' ? '' : '連續' + item.many_day + '日'
            }
            var riseFn = function(params) {
                return params == 'y' ? '買在起漲' : ''
            }
            var needFn = function(params) {
                return params == 'y' ? '最優先' : '非優先'
            };
            // console.log(items)
            if (items) {
                items.forEach(item => {
                    if (item.ch == 'kd') {
                        // text = dayfn(item.day) + 'k值' + kdsefn(item) + manyFn(item) + riseFn(item.rise) + needFn(item.need)
                        text.push(dayfn(item.day) + 'k值' + kdsefn(item))
                    }
                    if (item.ch == 'rsi') {
                        text.push(dayfn(item.day) + 'RSI' + sefn(item.se) + item.v)
                    }
                    if (item.ch == 'column') {
                        text.push('成交量' + sefn(item.se) + dayfn(item.day))
                    }
                    if (item.ch == 'column2') {
                        text.push('成交量' + dayfn(item.day) + '線' + sefn(item.se) + dayfn(item.day2) + '線')
                    }
                    if (item.ch == 'ma') {
                        text.push(dayfn(item.day) + '線' + sefn(item.se) + dayfn(item.day2) + '線')
                    }
                    if (item.ch == 'price') {
                        text.push('收盤價' + sefn(item.se) + dayfn(item.day) + '線')
                    }
                    if (item.ch == 'price2') {
                        text.push('股價漲幅' + prSefn(item.se) + item.number + '%')
                    }
                    if (item.ch == 'price3') {
                        text.push('開收盤漲幅' + prSefn(item.se) + item.number + '%')
                    }
                    if (item.ch == 'macd') {
                        text.push(dayfn(item.day) + 'MACD' + item.fast + '日快線' + sefn(item.se) + item.slow + '日慢線')
                    }
                    if (item.ch == 'macd2') {
                        text.push(dayfn(item.day) + 'MACD' + item.fast + '日快線' + sefn(item.se) + item.slow + '日慢線' + maLineFn(item.line) + sefn(item.se) + item.v)
                    }
                    if (item.ch == 'bband') {
                        text.push(dayfn(item.day) + '布林' + item.v + '倍' + sefn(item.se) + bbLineFn(item.line))
                    }
                    if (item.ch == 'dc') {
                        text.push('唐奇安' + item.upLine + '日上阻' + item.lowLine + '日下撐' + sefn(item.se) + dcLineFn(item.line))
                    }
                });
            }
            return text.join('<br>')
        }

        var datatop = `<ul>
            <li>ID編號</li>
            <li>股票代號</li>
            <li>回測K線</li>
            <li>買入方式</li>
            <li>回測時間</li>
            <li>進場條件</li>
            <li>出場條件</li>
            <li>總報酬</li>
            <li>操作</li>
        </ul>`
        var form = document.createElement('div')
        var table = document.createElement('div')
        var title = document.createElement('h2')
        title.innerHTML = '回測表單'
        form.id = 'ranking'
        table.classList.add('table')
        table.innerHTML = datatop
        datas.forEach(data => {
            var id = data[0]
            var co = data[1]
            var ul = document.createElement('ul')
            var li_id = document.createElement('li')
            var li_stock = document.createElement('li')
            var li_kline = document.createElement('li')
            var li_buyMethod = document.createElement('li')
            var li_time = document.createElement('li')
            var li_buy = document.createElement('li')
            var li_sell = document.createElement('li')
            var li_total = document.createElement('li')
            var li_operating = document.createElement('li')
            li_id.innerText = id
            li_stock.innerText = co.stock
            li_kline.innerText = kLineFn(co.kLine)
            li_buyMethod.innerText = buyMethodFn(co.buyMethod)
            li_time.innerHTML = co.timeStart + '<br>' + co.timeEnd
            li_buy.innerHTML = conditionFn(co.buy)
            li_sell.innerHTML = conditionFn(co.sell)
            li_total.innerText = co.total
            li_operating.append(operatingFn(id))
            ul.append(li_id, li_stock, li_kline, li_buyMethod, li_time, li_buy, li_sell, li_total, li_operating)
            table.append(ul)
        })
        form.append(title)
        form.append(table)
        document.querySelector('body').append(form)
    }
</script>
{% endblock %}